/* Gaya umum halaman */
body {
font-family: 'Segoe UI', sans-serif;
background-color: #fefefe;
color: #333;
margin: 0;
padding: 0;
text-align: center;    

}
/* Header */
header {
background-color: #eddcf0;
color: rgb(4, 4, 4);
text-decoration: rgb(0, 0, 0);
padding: 20px;
text-align: center;
}


/* Footer lebih menarik */
footer {
    background-color: #eddcf0;
    text-decoration: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
/* UNGU PASTEL */
.bg-ungu {
    background-color: #eddcf0 !important;
    color: rgb(11, 11, 11) !important;
}

/* Footer: agar teks selalu putih */
footer, footer p {
    color: rgb(0, 0, 0) !important;
}
.box-container {
    width: 70%;
    margin: 40px auto;
    background: #eddcf0;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.box-container table {
    background: white !important; 
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

.box-container table th {
    background: #b795e7 !important;
    color: rgb(0, 0, 0);
}

.box-container table td {
    background: white !important;
}

.box-container h2, 
.box-container h3 {
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
}

.calc-box input, 
.calc-box button {
    width: 100%;
}

.btn-calc {
    background: #b795e7;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.btn-calc:hover {
    background: #b795e7;
}

section {
    margin-bottom: 40px;
}

audio, video {
    display:block;
    margin: 5px auto;
}

/* Card container untuk produk atau galeri */
.galeri {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

